body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: 100;
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue';
    letter-spacing: 0.1em;
}

h1 {
    font-size: 36px;
    letter-spacing: 1px;
}

html, body, main {
    height:  100%;
    max-height: 900px;
}

a {
    text-decoration: none;
    color: #212529;
}

.my-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}

thead {
    border-bottom:2px solid black;
}

td {
    border-bottom:1px solid #dee2e6;
}

td {
    padding: 4px;
}

.remove-player-btn {
    border-radius: 50%;
    width: 32px;
}

.page-div {
    max-width: 414px;

    padding: 25px;
    margin: auto;
}